{% extends 'opsdash/base.html' %}
{% block css %}
<link rel="stylesheet" href="/static/css/changeNotice.css">
{% endblock %}

{% block content %}
  <h2>修改内网公告</h2>
  <div class="line"></div>
  <!--<form class="form-group">-->
    <div class="input-group mb-3">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="file-upload" accept=".txt">
        <label class="custom-file-label" for="file-upload" aria-describedby="file-upload-addon">File name is specified(e.g. qa_notice.txt).</label>
      </div> 
      <div class="input-group-append">
        <button id="file-upload-remove" class="btn btn-danger border" style="display: none;">Remove</button>
      </div>
      <div class="input-group-append">
        <button id="file-upload-upload" class="btn btn-info border" style="display: none;">Upload</button>
      </div>    
    </div>
    <div id="file-upload-progress-div" class="progress" style="height: 30px;display: none;">
      <div id="file-upload-progress" class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 20%;">上传中
      </div>
    </div>
  <!--</form>-->
  <br>
  <div>
    <h6 id="last-change-time">{{ lastChangeTime }}</h6>
  </div>
  <br>
  <div>
      <h6>当前公告内容：</h6>
      <div id="current-content" class="pre-scrollable">{{ currentContent }}</div>
  </div>

 
{% endblock %}
{% block js %}
<script>
//点击浏览显示文件名，并显示remove和upload
$(document).ready(function(){
  $("#file-upload").on('change',function(){
    var fileName = $(this).val().replace('C:\\fakepath\\', " ");   
    if (fileName){
      $(this).next('.custom-file-label').html(fileName);
      $(this).next('.custom-file-label').css({"color":"black","font-style":"normal"});  
      $('#file-upload-remove').show();
      $('#file-upload-upload').show();
    }
    else {
      $(this).next('.custom-file-label').html('File name is specified(e.g. qa_notice.txt).');
      $(this).next('.custom-file-label').css({"color":"#bac0ba","font-style":"italic"}); 
      $('#file-upload-remove').hide();
      $('#file-upload-upload').hide();
    }
  });
});

//remove功能
$(document).ready(function(){
  $('#file-upload-remove').on('click',function(){
    $('#file-upload').val('');
    $('#file-upload').trigger("change")
  });
});

//html自动转义
function html2Escape(sHtml) {
  return sHtml.replace(/[<>&"]/g,function(c){
    return {'<':'&lt;','>':'&gt;','&':'&amp;','"':'&quot;'}[c];
  });
}

//ajax upload功能 
$(document).ready(function(event){
  $('#file-upload-upload').on('click',function(){
    $('#file-upload-progress').addClass("progress-bar-animated");
    $('#file-upload-progress-div').show();
    var formData = new FormData();
    var fileInfo = $("#file-upload")[0].files[0];
    formData.append('file',fileInfo);
    if(fileInfo==undefined){
      window.alert('你没有选择任何文件');
      return false;
    }
    else{
      $('#file-upload-progress').addClass("progress-bar-animated bg-info progress-bar-striped");
      $('#file-upload-progress').html("上传中");
      $('#file-upload-progress').css("width","30%");
      $('#file-upload-progress-div').show();
      $.ajax({
        type: "POST",
        url: "{% url 'gameOperation:changeNoticeExec' %}",
        data: formData,
        processData: false,
        contentType: false,
        success: function(res){
          $('#file-upload-progress').removeClass("progress-bar-animated bg-info progress-bar-striped");
          $('#file-upload-progress').addClass("bg-success");
          $('#file-upload-progress').css("width","100%");
          $('#file-upload-progress').html(res.fileName+" "+"上传成功");
          $('#file-upload-remove').trigger("click");
          $('#last-change-time').html(res.lastChangeTime);
          $('#current-content').html(html2Escape(res.currentContent));
        }
      })
    }
  })
})
</script>
{% endblock %}
