{% extends 'opsdash/base.html' %}
{% block page %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">测试服(KR-QA1,KR-QA2,KR-QA3,KR-QA4)</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">审核服(KR)</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">功能测试服(OFT)</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <h2>修改服务器时间</h2>
    <div class="line"></div>
{% endblock %}