{% extends 'opsdash/base.html' %}
{% block css %}
<link rel="stylesheet" href="/static/css/changeTime.css">
{% endblock %}

{% block page %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul id="my-tab" class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a id="qa-tab"  data-toggle="tab" class="nav-link" href="#qa-pane">测试服</a>
            </li>
            <li class="nav-item">
                <a id="review-tab"  data-toggle="tab" class="nav-link" href="#review-pane">审核服</a>
            </li>
            <li class="nav-item">
                <a id="oft-tab"  data-toggle="tab" class="nav-link" href="#oft-pane">功能测试服</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <h2>修改服务器时间</h2>
    <div class="line"></div>
    <div class="tab-content">
        <div class="tab-pane" id="qa-pane" role="tabpanel">
            <h5 id="qa-pane-current-time">{{ qaCurrentTime}}</h5>
            <div class="input-group mb3">
                <input id="qa-input" type="text" class="form-control" placeholder="Please input the TIME you want to change. e.g. 2019-06-28 14:20" >
                <div class="input-group-append">
                    <button onclick="changeTimeExec('qa')" class="btn btn-info border">Change</button>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-success border">Restore</button>
                </div>
            </div>
            <br>
            <div>
                <h6>操作日志：</h6>
                <div id="qa-oper-log" class="pre-scrollable">{{ qaOperLog }}</div>
            </div>
        </div>
        <div class="tab-pane" id="review-pane" role="tabpanel">
            <h5 id="review-pane-current-time">{{ reviewCurrentTime }}</h5>
            <div class="input-group mb3">
                <input id="review-input" type="text" class="form-control" placeholder="Please input the TIME you want to change. e.g. 2019-06-28 14:20" >
                <div class="input-group-append">
                    <button onclick="changeTimeExec('review')" class="btn btn-info border">Change</button>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-success border">Restore</button>
                </div>
            </div>
            <br>
            <div>
                <h6>操作日志：</h6>
                <div id="review-oper-log" class="pre-scrollable">{{ reviewOperLog }}</div>
            </div>
        </div>
        <div class="tab-pane" id="oft-pane" role="tabpanel">
            <h5 id="oft-pane-current-time">{{ oftCurrentTime }}</h5>
            <div class="input-group mb3">
                <input id="oft-input" type="text" class="form-control" placeholder="Please input the TIME you want to change. e.g. 2019-06-28 14:20" >
                <div class="input-group-append">
                    <button onclick="changeTimeExec('oft')" class="btn btn-info border">Change</button>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-success border">Restore</button>
                </div>
            </div>
            <br>
            <div>
                <h6>操作日志：</h6>
                <div id="oft-oper-log" class="pre-scrollable">{{ oftOperLog }}</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script>
    //tab功能
    $(document).ready(function(){
        //显示第一个a选择器
        $('#my-tab a:first').tab('show')
    });

    //change功能
    function changeTimeExec(execType){
        date = $('#'+execType+"-input").val();
        if(execType=='qa' | execType=='review' | execType=='oft'){
            if(date){
                $.ajax({
                    type: "POST",
                    url: "{% url 'gameOperation:changeTimeExec' %}",
                    data: {date: date, execType: execType},
                    dataType: "json",
                    success: function(res) {
                        if(execType=='qa'){
                            $('#qa-pane-current-time').html(res.currentTime)
                            $('#qa-oper-log').html(res.currenLog)
                        }
                        if(execType=='review'){
                            $('#review-pane-current-time').html(res.currentTime)
                            $('#review-oper-log').html(res.currenLog)
                        }
                        if(execType=='oft'){
                            $('#oft-pane-current-time').html(res.currentTime)
                            $('#oft-oper-log').html(res.currenLog)
                        }
                    }
                });
            }
            else{
                alert("请输入时间！");
            }
        }
    }

</script>
{% endblock %}